ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://127.0.0.1:50000,http://localhost:50000,views://mainview

DB_DRIVER=mysql+asyncmy
DB_IP=127.0.0.1
DB_PORT=3306
DB_NAME=ThoughtsRavel
DB_USER=
DB_PASSWORD=
DB_LOG=False

TOKEN=your_secret_key
REDIS_IP=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=